.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: none;
}

.formContainer,
.form {
  position: relative;
  z-index: 1;
}

.formContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
}
.form input,
.form textarea {
  padding: 20px;
  border-radius: 5px;
  border: none;
}

.form button {
  padding: 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.form button:hover {
  background-color: #c4c4c4;
}
