.pageContainer {
  margin: 0 18vw;
}

.mainContainer {
  height: 120vh;
}
.sectionTitleContainer,
.portfolioHeadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 35%;
}

.portfolioSection,
.pageContainer,
.sectionTitleContainer,
.portfolioHeadingContainer,
.row {
  position: relative;
  z-index: 1;
}

.portfolioHeading {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}

.portfolioHeading h2 {
  color: white;
  font-weight: 500;
}

.portfolioImg {
  position: relative;
  width: 100%;
  height: 100%;
  transition: ease 0.3s;
}

.img {
  object-fit: cover;
  display: block;
  filter: brightness(80%);
  transition: all 0.3s;
}

.portfolioItem {
  flex: 0 0 33.33%;
  max-width: 50.33%;
  margin-bottom: 30px;
  transition: all, 0.5s;
}

.portfolioItemInner {
  border: 2px solid white;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: ease 0.3s;
  backdrop-filter: blur(5px);
  background-color: transparent;
  width: 580px;
  height: 350px;
}

.portfolioItemInner:hover {
  box-shadow: 0 0 30px grey;
}

.portfolioItemInner:hover .portfolioImg {
  transform: scale(1.05);
  filter: brightness(110%);
  /* width: 590px;
  height: 360px; */
}

.row {
  display: flex;
  justify-content: space-between;
  visibility: visible;
  transition: all 0.5s ease;
}
.certiButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.certiButton {
  /* padding: 20px 0px; */
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 17px;
  font-weight: 550;
  transition: all 0.5s ease;
  transition: 0.3s ease;
  margin: 20px;
}

.certiButton:hover {
  box-shadow: 0px 0px 20px -2px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 20px -2px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 20px -2px rgba(255, 255, 255, 1);
}
.McertiContainer {
  width: 200px;
  height: 500px;
  position: relative;
  display: flex;
}
.certiContainer {
  visibility: hidden;
  display: flex;
  position: absolute;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 520px;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: transparent;
  border-radius: 10px;
  border-width: 0;

  z-index: 2;
  transition: all 0.5s ease;
}

.closeButton {
  position: absolute;
  top: 0%;
  right: 18%;
  z-index: 2;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 30px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.closeButton:hover {
  text-shadow: 0 0 10px;
  font-size: 40px;
}

@media (max-width: 1850px) {
  .pageContainer {
    margin: 0 10vw;
  }
}

@media (max-width: 1500px) {
  .pageContainer {
    margin: 0 5vw;
  }
}

@media (max-width: 1300px) {
  .pageContainer {
    margin: 0 2vw;
  }
}

@media (max-width: 1220px) {
  .sectionTitleContainer {
    margin-top: 20px;
    right: 0;
  }
  .portfolioHeadingContainer {
    text-align: center;
    right: 0;
  }
  .row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .portfolioItem {
    width: 100%;
  }
  .portfolioItemInner {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 746px) {
  .portfolioItemInner {
    height: 300px;
  }
  .certiContainer {
    transform: scaleX(1.5);
    transform: scaleY(1.5);
    transform: translate(-50%, -30%);
  }
  .pageContainer {
    margin: 0 5vw;
  }
}

@media (max-width: 670px) {
  .pageContainer {
    margin: 0 3vw;
  }
  .portfolioItemInner {
    height: 250px;
  }
}

@media (max-width: 500px) {
  .row {
    grid-template-columns: repeat(1, 1fr);
  }

  .portfolioItemInner {
    height: 150px;
  }
}

@media (max-width: 250px) {
  .portfolioItemInner {
    height: 100px;
  }
}
