.pageContainer {
  margin: 0 30vh;
}

.portfolioHeading {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}

.portfolioHeading h2 {
  color: white;
  font-weight: 500;
}

.portfolioImg {
  position: relative;
  width: 580px;
  height: 350px;
  transition: ease 0.3s;
}

.img {
  object-fit: contain;
  display: block;
}

.portfolioItem {
  flex: 0 0 33.33%;
  max-width: 50.33%;
  margin-bottom: 30px;
}

.portfolioItemInner {
  border: 2px solid white;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: ease 0.5s;
}

.portfolioItemInner:hover {
  box-shadow: 0 0 30px grey;
}

.portfolioItemInner:hover .portfolioImg {
  transform: scale(1.05);
  /* width: 590px;
  height: 360px; */
}

.row {
  display: flex;
  justify-content: space-between;
}
