.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 6rem 0rem;
  min-height: 100vh;
  margin: 0 30vh;
}

.titleContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.title {
  display: flex;
  align-items: center;
}

.title h1 {
  margin: 10px;
}

.name {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  height: 60px;
  width: 100px;
  font-size: 35px;
}

.proffesion {
  display: flex;
  align-items: center;
  font-size: 35px;
}

.typing {
  font-size: 40px;
  margin-left: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  height: 60px;
}

.desc {
  margin-top: 20px;
  line-height: 23px;
  word-spacing: 3px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-top: dotted grey;
}

.imageContainer {
  width: 500px;
  height: 550px;
  position: relative;
  transition: ease-out 0.5s;
}

.img {
  object-fit: cover;
  border-radius: 2%;
  box-shadow: 0 0 10px black;
}

.imageContainer::after {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-bottom: 10px solid;
  border-right: 10px solid;
  right: -45px;
  bottom: -50px;
  border-radius: 5px;
  border-color: #9b9b9b;
  transition: ease-out 0.5s;
}
.imageContainer:hover {
  box-shadow: 0px 0px 165px -50px rgba(255, 255, 255, 0.59);
  -moz-box-shadow: 0px 0px 165px -50px rgba(255, 255, 255, 0.59);
  box-shadow: 0px 0px 165px -50px rgba(255, 255, 255, 0.59);
}

.imageContainer:hover::after {
  border-color: white;
}

.imageContainer:hover::before {
  border-color: white;
}

.imageContainer::before {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-top: 10px solid;
  border-left: 10px solid;
  right: 460px;
  bottom: 500px;
  border-radius: 5px;
  border-color: #9b9b9b;
  transition: ease-out 0.5s;
}

.btn {
  padding: 20px 0px;
  height: 60px;
  width: 150px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  text-align: center;
  font-size: 17px;
  font-weight: 550;
  transition: all 0.3s;
}

.btn:hover {
  box-shadow: 0px 0px 20px -2px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 20px -2px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 20px -2px rgba(255, 255, 255, 1);
}
