.mainContainer {
  background-color: transparent;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
  border: transparent;
  z-index: 2;
}
.img {
  object-fit: cover;
  border: transparent;
}

.arrowLeft {
  display: flex;
  width: 20%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.arrowRight {
  display: flex;
  width: 20%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.arrowLeftBtn {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  cursor: pointer;
}

.arrowRightBtn {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.arrimgContainer {
  position: relative;
  width: 100px;
  height: 100px;
  z-index: 0;
}
.arrLeftImg {
  object-fit: contain;
  transition: all 0.5s ease;
  filter: invert(none) drop-shadow(2px 2px 0 white)
    drop-shadow(-2px 2px 0 white) drop-shadow(2px -2px 0 white)
    drop-shadow(-2px -2px 0 white);
  transform: translateX(200px) scale(0.5);
}

.arrRightImg {
  object-fit: contain;
  transition: all 0.5s ease;
  filter: invert(none) drop-shadow(2px 2px 0 white)
    drop-shadow(-2px 2px 0 white) drop-shadow(2px -2px 0 white)
    drop-shadow(-2px -2px 0 white);
  transform: translateX(-200px) scale(0.5);
}

.arrowLeft:hover .arrLeftImg {
  filter: invert() drop-shadow(0px 0px 1rem white);
  transform: scale(1.05);
}

.arrowRight:hover .arrRightImg {
  filter: invert() drop-shadow(0px 0px 1rem white);
  transform: scale(1.05);
}
