.container {
  margin: 0 30vh;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-size: 14px;

  border-style: solid;
  border-top: 2;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-color: white;
}

.mainContainer {
  position: relative;
  z-index: 1;
}

.socialNetworks {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icon {
  cursor: pointer;
}

.footerText {
  color: white;
}
